notebook
ipykernel
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
sentence-transformers

langchain-openai
langchain-huggingface
transformers
openai
python-dotenv
pypdf
jq
bs4
requests-html
lxml
huggingface_hub
tensorflow
fastapi
uvicorn
langserve
